.input{
    height: 50px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send{
    display: flex;
    gap: 10px;
    align-items: center;
}

img{
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}
input{
    width: 100%;
    border: none;
    outline: none;
    color: #2f2d52;
    font-size: 18px;
}
::placeholder{
    color: lightgray;
}

button{
    padding: 10px 15px;
    border: none;
    color: white;
}