.search{
    border-bottom: 1px solid gray;
}

.searchForm{
    padding: 10px;
}

input{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
}
::placeholder{
    color: lightgray;
}
.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    color: white;
    cursor: pointer;
}
.userChat:hover{
    background-color: #2f2d52;
}
.userchatinfo{
    gap: 0px;
}
span{
    font-size: 18px;
    font-weight: 500;
}
p{
    font-size: 14px;
    color: lightgray;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}